In [2]:
import pandas as pd

# 1. 딕셔너리를 이용하여 데이터프레임 생성
data = {
    '학번': [202303, 202405, 202407, 202409],
    '이름': ['오지환', '박용택', '정성훈', '다니엘'],
    '트랙': ['데이터', '데이터', '데이터', '생산'],
    'Quiz': [15, 20, 10, 17],
    '중간고사': [20, 20, 15, 18]
}
df = pd.DataFrame(data)

In [3]:
# 2. 이름과 중간고사를 추출
name_midterm = df[['이름', '중간고사']]
print("이름과 중간고사 점수:\n", name_midterm)

이름과 중간고사 점수:
     이름  중간고사
0  오지환    20
1  박용택    20
2  정성훈    15
3  다니엘    18

In [4]:
# 3. reindex를 이용하여 순서 변경
df_reindexed = df.reindex(index=[2, 0, 3, 1])
print("\nReindexed DataFrame:\n", df_reindexed)

Reindexed DataFrame:
        학번   이름   트랙  Quiz  중간고사
2  202407  정성훈  데이터    10    15
0  202303  오지환  데이터    15    20
3  202409  다니엘   생산    17    18
1  202405  박용택  데이터    20    20

In [5]:
# 4. iloc과 loc을 이용하여 박용택의 record 추출
park_record_iloc = df_reindexed.iloc[3]
park_record_loc = df_reindexed.loc[1]
print("\n박용택의 iloc record:\n", park_record_iloc)
print("\n박용택의 loc record:\n", park_record_loc)

박용택의 iloc record:
 학번      202405
이름         박용택
트랙         데이터
Quiz        20
중간고사        20
Name: 1, dtype: object

박용택의 loc record:
 학번      202405
이름         박용택
트랙         데이터
Quiz        20
중간고사        20
Name: 1, dtype: object

In [6]:
# 5. iloc과 loc을 이용하여 모든 학생의 이름과 중간고사 점수 추출
names_midterms_iloc = df_reindexed.iloc[:, [1, 4]]
names_midterms_loc = df_reindexed.loc[:, ['이름', '중간고사']]
print("\n모든 학생의 이름과 중간고사 점수 (iloc):\n", names_midterms_iloc)
print("\n모든 학생의 이름과 중간고사 점수 (loc):\n", names_midterms_loc)

모든 학생의 이름과 중간고사 점수 (iloc):
     이름  중간고사
2  정성훈    15
0  오지환    20
3  다니엘    18
1  박용택    20

모든 학생의 이름과 중간고사 점수 (loc):
     이름  중간고사
2  정성훈    15
0  오지환    20
3  다니엘    18
1  박용택    20

In [7]:
# 6. 중간고사 점수의 평균
midterm_mean = df['중간고사'].mean()
print("\n중간고사 점수의 평균:", midterm_mean)

중간고사 점수의 평균: 18.25

In [8]:
# 7. 중간고사 점수가 가장 낮은 학생의 index
lowest_midterm_index = df['중간고사'].idxmin()
print("\n중간고사 점수가 가장 낮은 학생의 index:", lowest_midterm_index)

중간고사 점수가 가장 낮은 학생의 index: 2

In [9]:
# 8. 퀴즈 점수가 가장 높은 학생의 학번
highest_quiz_student_id = df['학번'][df['Quiz'].idxmax()]
print("\n퀴즈 점수가 가장 높은 학생의 학번:", highest_quiz_student_id)

퀴즈 점수가 가장 높은 학생의 학번: 202405

In [10]:
# 9. 다양한 통계량 출력
stats = df.describe()
print("\n데이터프레임의 통계량:\n", stats)

데이터프레임의 통계량:
                   학번       Quiz       중간고사
count       4.000000   4.000000   4.000000
mean   202381.000000  15.500000  18.250000
std        52.025635   4.203173   2.362908
min    202303.000000  10.000000  15.000000
25%    202379.500000  13.750000  17.250000
50%    202406.000000  16.000000  19.000000
75%    202407.500000  17.750000  20.000000
max    202409.000000  20.000000  20.000000

In [11]:

# 10. 중간고사 점수에 따라 내림차순으로 정렬
sorted_df = df.sort_values(by='중간고사', ascending=False)
print("\n중간고사 점수 내림차순 정렬:\n", sorted_df)

중간고사 점수 내림차순 정렬:
        학번   이름   트랙  Quiz  중간고사
0  202303  오지환  데이터    15    20
1  202405  박용택  데이터    20    20
3  202409  다니엘   생산    17    18
2  202407  정성훈  데이터    10    15

In [12]:

# 11. 퀴즈 점수가 평균 이상인 학생들의 이름
avg_quiz = df['Quiz'].mean()
high_quiz_names = df['이름'][df['Quiz'] >= avg_quiz]
print("\n퀴즈 점수가 평균 이상인 학생들의 이름:\n", high_quiz_names)

퀴즈 점수가 평균 이상인 학생들의 이름:
 1    박용택
3    다니엘
Name: 이름, dtype: object

In [13]:

# 12. 퀴즈와 중간고사 점수 모두 평균 이상인 학생들의 record
avg_midterm = df['중간고사'].mean()
high_scores_students = df[(df['Quiz'] >= avg_quiz) & (df['중간고사'] >= avg_midterm)]
print("\n퀴즈와 중간고사 점수가 모두 평균 이상인 학생들의 record:\n", high_scores_students)

퀴즈와 중간고사 점수가 모두 평균 이상인 학생들의 record:
        학번   이름   트랙  Quiz  중간고사
1  202405  박용택  데이터    20    20

In [14]:

# 13. value_counts를 이용하여 학과 별로 학생의 수 구하기
department_counts = df['트랙'].value_counts()
print("\n학과 별로 학생의 수:\n", department_counts)

학과 별로 학생의 수:
 트랙
데이터    3
생산     1
Name: count, dtype: int64

In [15]:

# 14. groupby를 이용하여 학과 별로 중간고사의 평균 구하기
midterm_mean_by_department = df.groupby('트랙')['중간고사'].mean()
print("\n학과 별 중간고사 평균:\n", midterm_mean_by_department)

학과 별 중간고사 평균:
 트랙
데이터    18.333333
생산     18.000000
Name: 중간고사, dtype: float64